.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.droppable-container{
  padding: 24px;
  border-radius: 15px;
  background-color: #F8F8F8;
  border: 1px solid #E2E2EA;
  width: 1200px;
}
.droppable-container h2{
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.btn-wrapper{
  display: flex;
  justify-content: space-between;
}
.btn-wrapper button:first-child{
background: url(/add-square.svg);
background-repeat: no-repeat;
background-size: 16px 16px;
background-position: 0 center;
padding-left: 24px;
color: #0062FF;
font-size: 14px;
font-weight: 500;
line-height: 20px;
border: 0;
background-color: transparent;
cursor: pointer;
}
.btn-wrapper button{
  color: #0062FF;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.draggable-item {
  position: relative;
  text-align: center;
  gap: 16px;
  display: flex;
  margin-left: 40px;
  margin-bottom: 24px;
}
.draggable-item::before{
  position: absolute;
  display: flex;
  content: "";
  background: url(/menu.svg);
  width: 24px;
  height: 24px;
  cursor: grab;
  top: calc(50% - 12px);
  left: -40px;
}
.input-group{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.input-group label{
  font-weight: 600;
}
.input-group input{
  padding: 14px 16px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 12px;
  width: 100%;
  border: 1px solid #EBEAED;
}